{% extends 'base.html' %}
{% load markdown_filters %}

{% block title %}Public Posts{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1><i class="fas fa-globe me-2"></i>Public Posts</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'entries:post_create' %}" class="btn btn-primary">
                    <i class="fas fa-plus me-1"></i>New Post
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% include 'entries/public_post_list_content.html' %}

{% if user.is_authenticated %}
    <div class="mt-4">
        <a href="{% url 'entries:my_posts' %}" class="btn btn-outline-secondary">
            <i class="fas fa-user me-1"></i>View My Posts
        </a>
    </div>
{% endif %}
{% endblock %} 